body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-character-area {
  display: flex;
  width: 15em;
  flex-direction: row;
  padding: .5em;
  background-color: #191919;
  color: white;
  position: relative;
  margin-bottom: 1em;
}

.card-character-image {
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
}

.card-character-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-character-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-area {
  display: grid;
  grid-template-columns: repeat(3, 20em);
}